.full-width {
    width:100%;
    
}

.plot-div {
    flex: 5; /* Take 3 parts of the available space */
    height: 600px;
    transition: flex 0.7s ease;
  }

.slider {
    display:flex;
    width: 150px;
}

.calculation {
    flex: 3;
    
}

.plot-phases{
    display:flex;
    gap: 20px;
}

p {
    margin-top:0.3rem;
    margin-bottom: 0.4rem;
}

h5 {
    margin-bottom:0px

}

.solution {
    color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    font-size:1rem;
}

.plot {
    width:100%;
}

@media (max-width: 1200px) {
    .plot-div {
        height:600px;
        width:100%;
      }
    
    .calculation {
        width:100%
    }
    .plot-phases{
        display:flex;
        flex-direction:column;
        
    }
  }