
/* App.css */

.app {
  display:flex;
  min-height: 100vh;
  background-color: #f4f6f8;
  margin-left: 240px /* Soft background color for the main app */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  
}

.main-section {
   /* Center-align content within the main section */
  width: 100%;
  border-top: 1px solid #555;
  padding: 30px 0;
  
}


/* Additional styling for the Paper container */
.MuiPaper-root {
  background-color: #ffffff;
  padding: 2rem;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}



/* Typography tweaks for a more polished look */
h4 {
  font-size: 1rem;
  margin:0;
  margin-top:10px;
}
h5 {
  font-weight: 600;
}

p, h2, h3, h4, h5, h6 {
  color: #555;
}

h1{
  font-family: 'Crimson Pro';
}

p {
  line-height: 1;
  font-size: 16px;
}
/* App.css */

.main-headline {
  font-family: 'Playfair Display', serif; /* Use the custom font */
  font-size: 3rem; /* Larger font size */
  color: #1e1e2f; /* Darker color */
  margin: 20px 0;
  text-align: center;
  font-weight: bold;
  position: relative;
}

.paper {
  text-align: center;
}

.menu-button {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color:#1e1e2f;
  color:white;
  display:None;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.paper-container {
  padding-left:30px;
  padding-right:30px;
  width:100%;
  max-width: 1200px;
  margin-top: 80px;
  box-sizing: border-box;
  
}

/* Responsive Design for Smaller Screens */
@media (max-width: 960px) {
  .app {
    flex-direction: column;
    margin-left: 0px;
    padding-left:0;
  }
  
  .MuiPaper-root {
    padding: 1rem;
  }

  .menu-button {
    display: flex;
    z-index: 10;
  }

}

@media (max-width: 1200px) {  
  .paper-container {
    padding:0;
    margin-top: 0px;
  }
}
