
/* App.css */

.app {
  display:flex;
  min-height: 100vh;
  background-color: #f4f6f8; /* Soft background color for the main app */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%
}

.main-section {
   /* Center-align content within the main section */
  width: 100%;
  border-top: 1px solid #555;
  padding-bottom: 30px;
}



.paper-container {
  
  padding-left:30px;
  padding-right:30px;
  width:100%;
  max-width: 1200px;
  margin-top: 80px;
}

/* Additional styling for the Paper container */
.MuiPaper-root {
  background-color: #ffffff;
  padding: 2rem;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

/* Sidebar-related styling for better distinction */
.sidebar {
  width: 240px; /* Adjust as needed */
  background-color: #3f51b5;
  color: white;
  padding: 20px;
}

/* Typography tweaks for a more polished look */
h4 {
  font-size: 1.8rem;
  margin-top: 0;
}

p, h2, h3, h4, h5, h6 {
  color: #555;
}

h1, h2 {
  font-family: 'Crimson Pro';
}

p {
  line-height: 1;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 960px) {
  .app {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    height: auto;
  }
  .MuiPaper-root {
    padding: 1rem;
  }

  .paper-container {
    padding:0;
  }

}

/* App.css */

.main-headline {
  font-family: 'Playfair Display', serif; /* Use the custom font */
  font-size: 3rem; /* Larger font size */
  color: #1e1e2f; /* Darker color */
  margin: 20px 0;
  text-align: center;
  font-weight: bold;
  position: relative;
}

.paper {
  text-align: center;
}
